/* This is an example CSS file. If you include it in your portfolio, it'll provide some clean and basic styling */
/* for your page. Feel free to experiment with the values, or copy them into a new file and use that instead. */

/* These are comments in CSS. Comments don't do anything except explain your working to make code easier to understand. */


#chartGrid {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
}


body { 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  /* we want a white page, that's centered and not too wide */
  background-color: #fff;
  margin:0 auto;
  max-width: 800px;
  padding-top: 60px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}

.chart-description {
  color: #333;                /* Text color */
  font-size: 16px;            /* Font size */
  margin-bottom: 20px;        /* Space below the section */
  background-color: #f9f9f9;  /* Light gray background */
  padding: 15px;              /* Add space inside the box */
  border-radius: 5px;         /* Optional: Rounded corners */
  border: 1px solid #ccc;     /* Optional: Add a subtle border for emphasis */
}

