/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow-x: hidden;
  text-align: justify;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: justify;
}

/* Intro Section */
#intro {
  position: relative;
  height: 100vh;
  background: url('image1170x530cropped.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textbox-1 {
  background: rgba(0, 0, 0, 0.6);
  height:fit-content;
  color: white;
  padding: 2em;
  max-width: 40%;
  text-align: justify;
}

/* Scrolling Section */
.scrolly {
  position: relative;
  width: 50%;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: justify;
}

/* Textbox Styles */
.textbox {
  background: white;
  padding: 1.5rem;
  border: 1px solid #ddd;
  margin: 20px 20px;
  text-align: justify;
}

/* Maps Section */
.maps {
  display: block;
  justify-content: center;
  margin: 2rem 2rem;

  text-align: justify;
}

.map-item {
  width: 33%;
  height: 400px;
  display: block;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
}

/* Graph Section */
.graph {
  display: block;
  justify-content: center;
  margin: 2rem 0;
  text-align: justify;
}

.graph-item1 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.graph-item2 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: justify;
}

/* Slider container styling */
#slider-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

/* Styling for the slider */
input[type="range"] {
  width: 200px;
  margin-bottom: 10px;
  text-align: justify;
}

/* Styling for the button */
button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: justify;
}

button:hover {
  background-color: #45a049;
}

/* Styling for the year text */
.map-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #333;
  text-align: justify;
}